NODE_ENV=development
DATABASE=mongodb+srv://<username>:<password>@cluster0-yseus.mongodb.net/dang-thats-delicious?retryWrites=true&w=majority
MAIL_USER=<mailtrapusername>
MAIL_PASS=<mailtrappassword>
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=7777
MAP_KEY=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0
SECRET=snickers
KEY=sweetsesh
