//- .wrapper
//- 	- const downDog = dog.toLowerCase();
//- 	p.hello Hello my name is #{name} and my dog's name is #{dog.toUpperCase()}
//- 	span#yo Yo!!
//- 	img.dog(src="dog.jpg" alt=`Dog ${dog}`)

//- h2 
//- 	| hello
//- 	em How are you?

extends layout 

block content 
	// open momentjs.com
	p Sale ends #{h.moment().endOf('day').fromNow()}